<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="background-color: gray;">
        @RenderSection("menu")
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
