
@{
    ViewBag.Title = "Index";
}

view of index

<h3>Razor samples</h3>

@for(var i=0; i<10; i++) { <span>[@i]&nbsp;</span> }

<h3>Section samples</h3>

<a href="/Home/WithMenu">with section</a>

<h3>ViewData samples</h3>

@ViewData["Data"]
